
* {
  box-sizing: border-box;
  margin: 0px; 
  padding: 0px
}


.App {
height: auto;
width: auto;
background-position: center;
background: -webkit-linear-gradient(to left, rgb(135, 77, 77), rgb(70, 38, 38));
background: linear-gradient(to left, rgb(135, 77, 77), rgb(70, 38, 38));
border: 0px solid transparent;
box-sizing: border-box;
}



.App-header{
border: 0px solid;
border-bottom: 2px solid #441d1d;
background-color:  black;
opacity: 0.6;
display: flex;
align-items: center;
justify-content: space-between;
text-align: center;
}

.Menu-header{
  border: 0px solid;
  background-color:  #211010;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  min-width: 400px;
  }

.App-logo{
height: 30px;
margin-left: 1.5%;
}

.App-logo hover{
height: 50px;
}

.Header-Menu{
text-align: right;
width: 100%;
}

.App-header h1{

margin-top: 5px;
margin-bottom: 5px;
margin-left: 5px;
color: rgb(255, 255, 255);
font-family: 'Sofia Sans', sans-serif;
font-size: 14px;
}

.App-header h1:hover{
transition: 0.3s;
color: #979795;
}

.HeaderLogin{

  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 60px;
  padding-right: 2px;
}


.Menu-header ul{
  list-style: none;
  display: inline-table;
  font-size: 12px;
  margin: auto;
  width: 50%;
}

nav{
display: flex;
align-items: center;
justify-content: space-between;
padding-left: 2%;
padding-right: 2%;
min-width: 350px;

}

ul {
display: flex;
align-items: center;
justify-content: center;
width: 100%;
}


.PhoneVerify ul{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}

#ButtonEmailVerify{
display: flex;
align-items: center;
justify-content: center;
width: 100%;
margin-top: 40px;
}

ul li:hover{
  background-color: transparent;
}


nav ul li{
list-style: none;
display: inline-table;
padding: 20px 25px 20px 15px;
letter-spacing: 2px;
font-size: 12px;
margin: auto;
width: 35%;

}


button-home{
  border-radius: 20px;
  border: 1px solid  #DEA400;
  background-color:  #DEA400;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 20px;
  letter-spacing: 1px;
  transition: transform 80ms ease-in;
  width: 40px;
}

button-home:hover{
  transform: scale(0.85);
  transition: .3s;
  color:  #686868;

}

button-home:active{
  transition: transform 80ms ease-in;
}

button-header:hover{
color:   white;
transition: .3s;
opacity: 70%;
}



.body{

background-position: center;
background-size: 1000px;
position: relative;
height: 100vh;
padding-top: 25px;
padding-bottom: 25px;


}


body{      /* Suppose you want minimum width of 1000px */
width: auto !important;  
min-width: 480px;
font-family: 'Sofia Sans', sans-serif; 
}


.Copyrights{
background-color: #ffffff;
background-position: center;
padding-top: 35px;
padding-left: 650px;
width: auto;
align-items: center;
justify-content: space-between;
position: relative;
height: 50px;
}


h1 {
font-weight: bold;
margin: 0;
font-size: 20px;
padding-bottom: 2%;
text-align: center;
padding-top: 2%;

}

h2 {
    font-weight: lighter;
    margin: 0;
    font-size: 10px;
    padding-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: 'Sofia Sans', sans-serif; 
}



h3{
    font-weight: lighter;
    margin: 0;
    font-size: 12px;
    padding-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    text-align: center;
    white-space: nowrap; 
}

h4{
  font-weight: lighter;
  margin: 0;
  font-size: 14px;
  padding-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  text-align: center;
  white-space: nowrap; 
}

h5{
  font-weight: lighter;
  margin: 0;
  font-size: 14px;
  padding-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #4d4d4d;
  text-align: center;
  white-space: normal;
  text-decoration: underline; 
  cursor: pointer;
}

h7{
  font-weight: lighter;
  margin: 0;
  font-size: 16px;
  padding-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #4d4d4d;
  text-align: center;
  white-space: normal;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

button {
  border-radius: 20px;
  border: 1px solid #DEA400;
  background-color: #DEA400;
  font-size: 8px;
  font-weight: bold;
  position: relative;
  padding: 10px 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
  transition: transform 80ms ease-in;
  color: #ffffff;
  margin: 5px 5px 5px 5px;
}

button:disabled{
  opacity: 0.5;
  cursor: no-drop;
}


button:disabled:hover{
  border: 1px solid #DEA400;
  background-color: #DEA400;
  opacity: 0.5;
} 


.ButtonHeader {
  border-radius: 20px;
  border: 1px solid #DEA400;
  background-color: transparent;
  font-size: 10px;
  font-weight: bold;
  position: relative;
  padding: 8px 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-right: 5px;
  box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
  transition: transform 80ms ease-in;
  color: #fff;
  
}


button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button:hover{
  background-color:   #cd9a10;
  border: 1px solid #cd9a10;
}

button.ghost {
  border: 1px solid  #DEA400;
  background-color:   #DEA400;
  color: #ffffff;
  /* margin-left: 80px; */
  font-size: 10px;
}

button.ghost:hover{
  background-color:   #cd9a10;
  border: 1px solid #cd9a10;
}

form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  align-items: center;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
}


input {

  background-color: transparent;
  border: none;
  padding: 15px 18px;
  width: 100%;
  font-family: 'Sofia Sans', sans-serif;
  border-bottom: 1px solid #DEA400;
  outline-color: transparent;
  display: flex;
  flex-direction: row;
  color: rgb(110, 110, 110);

}

#check{
  padding: 15px 18px;
  width: 10%;
  font-family: 'Sofia Sans', sans-serif;
  color: rgb(110, 110, 110);
}

.p-password{

background-color: transparent;
width: 100%;
font-family: 'Sofia Sans', sans-serif;
border: 0px solid;
outline-color: rgb(135, 77, 77);
display: flex;
margin:2px;

}


.p{
color: rgb(68, 68, 68);
margin-bottom: 25px;
text-align: center;

}

.container {

  background-color: #fff;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 75%;
  min-height: 480px;
  min-width: 400px;
  overflow: auto;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
}



.form-container {

  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
  width: 100%;
  
  
}

.sign-in-container {

  width: 50%;
  z-index: 2;
  overflow: auto;

  

}

.container.right-panel-active .sign-in-container {
  
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
  margin: auto;

}


.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
  
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: relative;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: -webkit-linear-gradient(to right, rgb(135, 77, 77), rgb(70, 38, 38));
  background: linear-gradient(to right, rgb(135, 77, 77), rgb(70, 38, 38));
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;

}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;

}

.overlay-left {
  transform: translateX(-20%);
  
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);

}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);

}


.Upload{
  display: flex;
  justify-content: center;

}

.sign-up-form{
  width: 100%;
}

#login-form{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

#fill-out-form{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

#signup-form{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.profile-pic{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 1px solid  #DEA400;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}

.profile-pic-settings{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 1px solid  #DEA400;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.ChangePicProfile{

height: fit-content;
display: block;
position: relative;
justify-content: center;
align-items: center;;
box-sizing: border-box;
top: 0; left: 0; bottom: 0; right: 0;


}

#picture{
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 50%;
  object-fit: cover;

}

#picture-settings{

  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 50%;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}


#plus{
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  z-index: 9998;
  position: relative;
}

#upload{
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  z-index: 9998;
  position: relative;
}

#close{
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  z-index: 9998;
  position: relative;
  cursor: pointer;

}

#inputImg{
  display: none;
}

#inputID{
  display: none;
}

label{
  display: flex;
  justify-content: center;
  font-family: 'Sofia Sans', sans-serif;
  cursor: pointer;
}


label-1{
  justify-content: center;
  font-family: 'Sofia Sans', sans-serif;
  font-size: 15px;
  color: rgb(110, 110, 110);
  width: 100%;
  text-decoration: underline;
}


label-2{
  display: flex;
  justify-content: center;
  font-family: 'Sofia Sans', sans-serif;
  cursor: pointer;
  font-size: 12px;
  padding-top: 10px;
  color: rgb(110, 110, 110);
}


label-3{
  display: flex;
  justify-content: center;
  font-family: 'Sofia Sans', sans-serif;
  cursor: pointer;
  font-size: 12px;
  color: rgb(110, 110, 110);
  padding-right: 7px;
}

.CameraIcon{
  margin-left: 56px;
  margin-top: 56px;
  /* position: absolute; */
}

#country, #CR, #US{
  font-family: 'Sofia Sans', sans-serif;
}

#CountrySelector{
  font-family: 'Sofia Sans', sans-serif;
  outline-style: none;
  outline-color: none;
  width: 80%;
  color: rgb(110, 110, 110);
  font-size: 14.5px;
  margin-top: 10px;

}



select{
background-color: transparent;
width: 100%;
font-family: 'Sofia Sans', sans-serif;
border: 1px solid rgb(190, 190, 190);;
color: rgb(110, 110, 110);
outline-color: rgb(135, 77, 77);
font-size: 14.5px;
border-radius: 5px;
height: 35px;
padding: 5px 5px 5px 5px;
-moz-appearance: none; 
-webkit-appearance: none; 
appearance: none;
}


.NameHolder{
display: flex;
align-items: center;
width: 100%
}

.LastName{
display: flex;
align-items: center;
width: 100%
}

.PhoneNumber{
display: flex;
align-items: center;
text-align: center;
width: 100%;
}

.Country {
display: flex;
align-items: center;
width: 100%;
}

.ID{
display: flex;
align-items: center;
width: 100%
}

.IDSelector{
margin-left: 50px;
}

#Prefix-Box{
width: 40%;
padding-right: 10px;
padding-left: 0px;
}

#Name-Box{
width: 60%;
padding-right: 15px;
display: flex;
align-items: center;
outline-color: rgb(135, 77, 77);
}

.Terms-Box{
  width: 100%;
  display: flex;
  align-items: center;
  outline-color: rgb(135, 77, 77);
  margin-top: 15px;
  justify-content: center;
  }

.TermsConditions{
  overflow-wrap:break-word;
  text-align: center;
  font-size: 12px;
  background-color: rgb(166, 166, 166);
  position: absolute;
  top: 9%;
  width: 85%;
  transition: all .5s ease-in-out;
  border-radius: 8px;
  z-index: 9999;
  padding-left: 4%;
  padding-right: 4%;
  overflow-y: auto;
  overflow-x:hidden;
  max-height: 0px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.12);
  transition: max-height 0.5s;
}


.TermsConditions.open-terms{
  max-height: 70%;

}

#ButtonTerms{
  border-radius: 0px;
  border: 1px solid transparent;
  background-color: #848484;
  font-size: 10px;
  font-weight: bold;
  position: relative;
  padding: 6px 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin-top: 2px;
  margin-left: 97.5%;
  margin-right: 10px;
  box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
  transition: transform 80ms ease-in;
  cursor: pointer;
}

#MiddleName-Box{
width: 60%;
padding-left: 6px;

}

#Suffix-Box{
width: 60%;
padding-left: 15px;
}

#LastName-Box{
width: 100%;
padding-right: 15px;
display: flex;
align-items: center;
}

#PhoneLabel-Box{
width: 68%;
display: flex;
align-items: center;
justify-content: center;
}

#VerificationCode{

  width: 35%;
  align-items: center;
  justify-content: center;
  display: inline-block;
  text-align: center;
}

#PhoneNumber-Box{
width: 85%;
padding-left: 25px;
display: flex;
align-items: center;
}

.Email-Box{
width: 100%;
display: flex;
align-items: center;
border: 2px;
}


.Password-Box{
width: 100%;
display: flex;
align-items: center;
}

.PasswordConfirm-Box{
width: 100%;
display: flex;
align-items: center;
}

.Address-1-Box{
width: 100%;
display: flex;
align-items: center;
}

.ID{
width: 100%;
display: flex;
align-items: center;
margin-left: 5px;
margin-right: 10px;
}

#id{
  width: 80%;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.Id-box{
  width: 80%;
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.IDIcon{

  width: 10%;
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-right: 0px;
  padding-left: 5px;

}

#country{

  width: 90%;
  display: flex;
  align-items: center;
}

#verification{

  width: 50%;
  display: flex;
  align-items: center;
  margin-left: 1px;
}


.PhoneVerify{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}


.PhoneVerify h1{
  margin-top: 0px;
}


#ZipCode{

  width: 25%;
  display: flex;
  align-items: center;
  margin-left: 10px;

}

#CountryCode{

display: flex;
align-items: center;
margin-left: 10px;

}

::placeholder{

font-size: 10.5px;
}

 .Home{
  background: -webkit-linear-gradient(to left, rgb(135, 77, 77), rgb(70, 38, 38));
  background: linear-gradient(to left, rgb(135, 77, 77), rgb(70, 38, 38));

} 


.Home-Header{

font-family: 'Sofia Sans', sans-serif;
height: 75px;
display: flex;
align-items: center;
position: relative;
width: 98%;
margin-right: 3%;
min-width: 500px ;
}


#SearchBar {
font-family: 'Sofia Sans', sans-serif;
border-style: none;
background-color:  transparent;
padding: 10px 10px;
border-radius: 20px;
border: 1.5px solid transparent;
outline-color: transparent;
outline-style: solid;
display: flex;
width: 100%;
min-width: 60%;
flex-direction: row;
color: rgb(110, 110, 110); 
height: 30px;

}

#logo{
height: 30px;
width: 30px;
margin-left: 15px;
}

#picture-home{

object-fit: cover;
height: 35px;
width: 35px;
margin-left: 15px;
border-radius: 50%;

}

#bell-home{
  height: 25px;
  width: 25px;  
}

#pdf{
  height: 35px;
  width: 35px;
  cursor: pointer;
  
}

#logout{
  height: 30px;
  width: 30px;
  background-color:  transparent;
  border: 1.5px solid transparent;
  margin-bottom: 0px;
  }


.Search-Bar{
width: 27%;
min-width: 22%;
display: flex;
align-items: center;
box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
border-radius: 25px;
outline-color: transparent;
outline-style: solid transparent;
background-color: white;
height: 30px;
margin-left: 2%;


}

#ButtonProfile {
background-color:  transparent;
position: relative;
transition: transform 80ms ease-in;
border: 1.5px solid transparent;
margin-top: 5px;
margin-bottom: 2px;
box-shadow: transparent 0 0 1px 0, transparent 0 3px 4px 0;
text-align: center;
color: #ffffff;
display: flex;
align-items: center;
height: 50px;
border-radius: 0px;
width: 100%;
}


#ButtonSideBar {
  background-color: transparent;
  position: relative;
  border: 0px solid transparent;
  box-shadow: transparent 0 0 1px 0, transparent 0 3px 4px 0;
  text-align: center;
  color: #ffffff;
  display: block;
  align-items: center;
  height: 100px;
  border-radius: 0px;
  width: 100%;
  font-Size: 8px;
  text-transform:none;
  margin-left: 0px;
  min-width: 10%;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-top: 0;
  margin-bottom: 0px;
 
  
  }





#ButtonLogout {
  background-color:  transparent;
  position: relative;
  border: 1.5px solid transparent;
  box-shadow: transparent 0 0 1px 0, transparent 0 3px 4px 0;
  text-align: center;
  color: #ffffff;
  display: block;
  align-items: center;
  height: 100px;
  border-radius: 0px;
  width: 100%;
  font-Size: 8px;
  text-transform:none;
  margin-left: 0px;
  min-width: 10%;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-top: 0;
  margin-bottom: 10px;
  cursor: pointer;
  }
  
#ButtonLogout:hover{
  border-left: 4.5px solid rgb(63, 42, 42);
  transform: scale(0.98);
  transition: transform 80ms ease-in;
}


#ButtonSideBar:hover{

  border-left: 4.5px solid rgb(63, 42, 42);
  transform: scale(0.98);
  transition: transform 80ms ease-in;

}

#ButtonSideBar:active{

  background:  rgb(52, 30, 30);

  transition: transform 80ms ease-in;

}

button.profile:hover{
background-color:  transparent;

}


#Link-Go{
color: rgb(43, 43, 43); 
}


#Glass {
background-color:  transparent;
position: relative;
letter-spacing: 1px;
text-transform: uppercase;
transition: transform 80ms ease-in;
border: 1.5px solid transparent;
margin-top: 4px;
margin-right: 2%;
margin-left: -1.2%;
box-shadow: transparent 0 0 1px 0, transparent 0 3px 4px 0;
padding-left: 0;
padding-right: 0;
padding-top: 0;
padding-bottom: 0;
}

#glass-home{
height: 25px;
width: 25px;
}


#ButtonBell {
background-color:  transparent;
position: relative;
transition: transform 80ms ease-in;
border: 1.5px solid transparent;
box-shadow: transparent 0 0 1px 0, transparent 0 3px 4px 0;
}

#ButtonHome{
position: relative;
transition: transform 80ms ease-in;
border: 1.5px solid transparent;
box-shadow: transparent 0 0 1px 0, transparent 0 3px 4px 0;
text-transform: none;
color: #ffffff;
font-family: 'Sofia Sans', sans-serif;
font-size: 10.5px;
margin-top: 10px;
top: 0; left: 0; bottom: 0; right: 0;
}

#ButtonAccount{
  position: relative;
  transition: transform 80ms ease-in;
  border: 1.5px solid transparent;
  box-shadow: transparent 0 0 1px 0, transparent 0 3px 4px 0;
  text-transform: none;
  color: #ffffff;
  font-family: 'Sofia Sans', sans-serif;
  font-size: 10.5px;
  top: 0; left: 0; bottom: 0; right: 0;
  background-color: transparent;
  float:right;
  }


.Ticker{
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 15px;

}

.hwrap {
overflow: hidden; /* HIDE SCROLL BAR */
background-color:  #3d1e1e;;
width: 100%;
white-space: nowrap;
height: 30px;
align-items: center;
text-align: center;

}

/* (B) MOVING TICKER WRAPPER */
.hmove { display: inline-flex; }

/* (C) ITEMS - INTO A LONG HORIZONTAL ROW */
.hitem {
flex-shrink: 0;
width: 15%;
padding: 5px;
text-align: center;
color: rgb(248, 248, 248);

}

/* (D) ANIMATION - MOVE ITEMS FROM RIGHT TO LEFT */
/* 4 ITEMS -400%, CHANGE THIS IF YOU ADD/REMOVE ITEMS */
@keyframes tickerh {
0% { transform: translate3d(100%, 0, 0); }
100% { transform: translate3d(-400%, 0, 0); }

}
.hmove { animation: tickerh linear 75s infinite; }
.hmove:hover { animation-play-state: paused; }


.Sidebar{

width: 6%;
display:inline-block;
position: relative;
text-align: center;
background-color:  #211010;
border: 0px solid transparent;
min-width: 70px;
z-index:10;

align-items: center;
text-align: center;
}

#account{
height: 20px;
width: 20px;
background-color: transparent;
}

.AccountSelector{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;
  -moz-appearance: none; 
  -webkit-appearance: none; 
  appearance: none;
  background-color: white;

}

.Account{

    height: 100%;
    width: 50%;
    overflow: hidden; /* HIDE SCROLL BAR */
    white-space: nowrap;
  

}

.MyAccounts{
    display: block;
    font-size: 12px;
    border: 1px solid #DEA400;
    position: absolute;
    left: 30%;
    top: 30%;
    width: 120px;
    list-style: none ;
    max-height: 200px;
    overflow: hidden;
    transition: all .5s ease-in-out;
    border-radius: 10px;
    color: #211010;
    background-color: transparent;


}

#AccountArrow{
  position: relative;
  border: 0px solid transparent;
  box-shadow: transparent 0 0 1px 0, transparent 0 3px 4px 0;
  text-align: center;
  color: #ffffff;
  align-items: center;
  height: 30px;
  border-radius: 5px;
  width: 30px;
  justify-content: center;
  padding: 5px 5px;
  transition: transform 80ms ease-in;
}


#arrow{
  height: 20px;
  width: 20px;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  margin: auto;

}


.AnchorPane{
  background-color: #3c2525;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 90vh;

}

.Sidebar-Anchor{
display: flex;
height: fit-content;
min-width: 200px;
}

.AnchorPaneContainer {

  background-color: transparent;
  border-radius: 15px;
  height: 85vh;
  width: 99%;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;


}



.AnchorPaneTransfer {
  background-color: transparent;
  border-radius: 15px;
  height: 100vh;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  padding-top: 30px;
  
}

.AnchorPaneAddAccount{
  background-color: transparent;
  height: 90vh;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-top: 30px;

}

.AnchorPaneSettings {
  background-color: transparent;
  border-radius: 15px;
  height: 95vh;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;


}


.TransferFunds{
  background-color: rgb(255, 255, 255);
  width: 60%;
  border-radius: 15px;
  display: block;
  height: fit-content;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: rgba(25, 25, 25, 0.4) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
  padding-left: 2%;
  padding-right: 2%;
  align-items: center;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;

}

.CreateAccount{

  background-color: rgb(255, 255, 255);
  width: 60%;
  border-radius: 15px;
  display: block;
  height: 30vh;
  box-shadow: rgba(25, 25, 25, 0.4) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 30px;
  align-items: center;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;

}


.TransferFunds select{
  margin-top: 10px;
  margin-bottom: 2px;
}

.PasswordCheck{
  align-items: center;
  justify-content: center;
  display:grid;
}

.PasswordCheck:hover{
  background: transparent;
}
.RenderSection{
height: 100%;
width: 100%;
overflow: hidden; /* HIDE SCROLL BAR */
}

.Stocks{
  background-color: transparent;
  height: 100%;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  margin-top: 0px;
  overflow:scroll;
  overflow-x:hidden;

  
  }

  .MyStocks{
    background-color: #2e1d1d;
    width: 100%;
    display: block;
    height: fit-content;
    display: block;
    box-shadow: rgba(25, 25, 25, 0.4) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
    padding-left: 2%;
    padding-right: 2%;
    box-sizing: border-box;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    padding-bottom: 40px;
    padding-top: 40px;

  }

  .StocksGrid{
    width: 100%;
    display: grid;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    position: relative;
    display: grid;  
    grid-gap: 60px;  
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: repeat(4, 250px);  
    height: auto-fit;
  }

  .StockCard{

    background-color:  #513d3d;
    border-radius: 15px;
    display: block;
    height: fit-content;
    box-shadow: rgba(25, 25, 25, 0.4) 0 0 3px 0, rgba(0, 0, 0, 0.1) 0 5px 6px 0;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    padding-bottom: 10px;
    width: 100%;
  }

  .StockCard:hover{

    background-color:  #654f4f;
  }

  .StockImg{
    height: 45px;
    max-width: 70%;
    margin-top: 2px;
    margin-bottom: 2px;
    position: relative;
    
  }

  .AmountStock{
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
  }


  .AmountStock input{
    margin-left: 5px;
    border-radius: 10px;
    border: 1px solid #DEA400;
    background-color: #ffffff;
    width: 45%;
    height: 25px;
    opacity: 0.80;
  }


  .StockCard button{
    border-radius: 10px;
    margin-left: 6px;
    margin-right: 6px;
    width: 5%;
    width: 35%;
    font-size: 9px;
    background-color: #a17807;
    border: 1px solid #a17807;
  }

  .DropDownAccount{
    display: block;
    height: fit-content;
    font-size: 12px;
    background-color: #533b3b;
    position: absolute;
    left: 100%;
    top: 0%;
    width: 120px;
    list-style: none;
    overflow: hidden;
    transition: all .5s ease-in-out;
    border-radius: 10px;
  }

  .DropDownAccount li{
      background-color: rgb(59, 37, 37);
  }

  .ButtonAccounts ul li{
    max-height: 0;
    transition: max-height 0.1s ease-out;
    overflow: hidden;
  }

  .ButtonAccounts:hover ul li{

    max-height: 200px;
    transition: max-height 0.35s ease-in;
  }


  .DropDownStocks{
    display: block;
    font-size: 12px;
    background-color: #533b3b;
    position: absolute;
    left: 100%;
    top: 15.5%;
    width: 120px;
    list-style: none ;
    max-height: 200px;
    overflow: hidden;
    transition: all .5s ease-in-out;
    border-radius: 10px;
  }

  .DropDownStocks li{
    background-color: rgb(59, 37, 37);
}

  .ButtonStocks ul li{
    max-height: 0;
    transition: max-height 0.1s ease-out;
    overflow: hidden;
  }

  .ButtonStocks:hover ul li{
    max-height: 200px;
    transition: max-height 0.3s ease-in;
  }


  .AmountBox{
    display: flex;
    width: 100%;
    align-items: center;
    margin: auto;
    text-align: center;
    top: 0; left: 0; bottom: 0; right: 0;
  }

 .AccountsFunding{
  display: flex;
  width: 70%;
  align-items: center;
  }

  
  .Accounts {
    width: 45%;
    height: -moz-fit-content;
    height: fit-content;
    padding-top: 40px;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
  }

  .AccountsStocks {
    width: 5%;
    height: -moz-fit-content;
    height: fit-content;
    padding-top: 40px;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
  }

  .AmountBox p{
    margin: 0;
    width: 100px;
    font-size: 13px;
  }

  .AmountBox input{

    margin-left: 0px;
    width: 90%;

}

  .Funding{
    background-color: #ffffff;
    width: 30%;
    border-radius: 15px;
    display: block;
    height: 60%;
    display: block;
    box-shadow: rgba(25, 25, 25, 0.4) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
    padding-left: 2%;
    padding-right: 2%;
    box-sizing: border-box;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    padding-top: 70px;

  
  }

  .AccountHistory{

    width: 100%;
    height: 100%;
    display: flex;
    height: fit-content;
    box-sizing: border-box;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
    justify-content: center;

  }

  .FundAccount{
    display: flex;
    margin: auto;
    height: 100%;
    width: 100%;
  }

  .MyAccount{

    background-color: #ffffff;
    width: 75%;
    border-radius: 15px;
    display: block;
    height: auto;
    max-height: 80%;
    display: block;
    box-shadow: rgba(25, 25, 25, 0.4) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
    padding-left: 2%;
    padding-right: 2%;
    box-sizing: border-box;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    padding-bottom: 20px;
    padding-top: 20px;
    overflow:scroll;
    overflow-x:hidden;
    
  }

  .MyAccountFund{

    background-color: #ffffff;
    width: 60%;
    border-radius: 15px;
    display: block;
    height: fit-content;
    display: block;
    box-shadow: rgba(25, 25, 25, 0.4) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
    padding-left: 2%;
    padding-right: 2%;
    box-sizing: border-box;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    padding-bottom: 20px;
    padding-top: 20px;
    overflow: auto;
    
  }

  .AddAccount{
    display: flex;
    margin: auto;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
  }

  .Balance{
    background-color:white;
    width: 30%;
    border-radius: 15px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .MyAccountBalance{
    width: 50%;
    border-radius: 15px;
    box-sizing: border-box;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    padding-left: 2%;
    padding-right: 2%;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 40px;
    float: left;
    display: block;
  }

  .MyAccountBalancePieChart{
    width: 40%;
    border-radius: 15px;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    justify-content: center;
    float: left;
    display: block;
  }


  .CurrentBalance{
    display: flex;
    box-sizing: border-box;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
    justify-content: center;
  }

  .CardAmount{
    display: block;
    box-sizing: border-box;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align: center;
    justify-content: center;
    width: 50%;

  }

  .CardInfo-1{
    display: flex;
  }

  .CardInfo-2{
    display: flex;
  }

  .SettingsTest{
    display:flex;
    width:50%;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 60px;
    box-sizing: border-box;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;

  }
  
  .UserDataChange{
    background-color: rgb(255, 255, 255);
    width: 65%;
    border-radius: 15px;
    display: block;
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 40px;
    box-shadow: rgba(25, 25, 25, 0.4) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    margin: auto;
    padding-left: 2%;
    padding-right: 2%;
    top: 0; left: 0; bottom: 0; right: 0;
  }
  
  .InfoOptions{
    width: 70%;
  }
  
  #SettingsButton{
    margin-top: 6px;
    margin-bottom: 6px;
    height: 30px;
  }

  .PieChart{
    display:block;
    width:100%;
    align-items: center;
    background-color: white;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: baseline;
  }

  .PieChartPDF{
    padding-top: 50px;
    display:block;
    width:90%;
    align-items: center;
    background-color: white;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: baseline;
    margin: auto;
    padding-left: 2%;
    padding-right: 2%;
    top: 0; left: 0; bottom: 0; right: 0;
  }

  .ToPDF{
    width:100%;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: baseline;
    height: 100%;
    display: flex;
  }

  .PDF-Container{
    width:100%;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: baseline;
    height: 100%;
    display: block;

  }

  #changePassword {

    border-radius: 20px;
    border: 1px solid #DEA400;
    background-color: #DEA400;
    font-size: 8px;
    font-weight: bold;
    position: relative;
    padding: 10px 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
    transition: transform 80ms ease-in;
    color: #ffffff;
    margin: 5px 0 5px 5px;
}